.statblock:not([data-compiled]) {
  /* display: none; */
}

.statblock h1 {
  font-size: 0.9rem;
  border-top: solid thin;
  border-bottom: solid thin;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: bold;
  padding: 1px;

  margin-bottom: 0.4rem !important;
  padding: 3px;

  background: var(--md-default-fg-color);
  color: var(--md-default-bg-color);
}

.statblock .cr {
  float: right;
}

.statblock h3 {
  font-size: 0.6rem;
  border-top: solid thin;
  border-bottom: solid thin;
  text-transform: uppercase;
  overflow: hidden;

  margin: 0.4rem 0 !important;
}

.statblock .source {
  border-top: 1px solid var(--md-default-fg-color--light);
  font-size: 0.8rem;
}


.statblock .list {
  display: grid;
  grid-template-columns: auto 1fr;
}

.statblock .list > b.label {
  text-align: right;
}

.statblock b.label {
  white-space: pre;
}

.statblock .spells {
  padding-left: 1.2rem;
}
